

body { 
  background: url(https://i.postimg.cc/fywhwZC2/Untitled-design-3.png) no-repeat center fixed; 
  background-size: cover;

}

h1{
  text-align: center;
  font-size:6vw;
  font-family: 'Dancing Script', cursive;
}

h2{
  text-align:center;
}

h3{
  text-align:center;
}

h4{
 background-color: #FCE4EC; /* pink */
  border: none;
  padding: 25% 32%;
  text-align: center;
  text-decoration: none;
  font-size: 1vw;
}

h5{
  text-align: center;
  font-size: 1.5vw;
}

h6{
  text-align: center;
  font-size: 1.2vw;
}

div{
  background-color:#FCE4EC;
  width:18.5vw;
  border:0.4vw solid white;
  padding: 1.5vw;
  margin: 1.5vw;
  
}

.sidenav{
  height:100%;
  width:12vw;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  overflow-x:hidden;
  padding-top:1vw;
}

.sidenav a{
  padding: 1.7vw 1.5vw 1vw 1.5vw;
  font-size:1.8vw;
  color:#263238;
  display:block;
  transition:0.3s;
}

a.navbuttons:hover{
  background-color:#FCE4EC;
  color:black;
  text-decoration:none;
}

.center{
  display: block;
  margin-left: auto;
  margin-right:auto;
  width: 60vw;
}







